$primary-color: #3498db;
$secondary-color: #2c3e50;
$text-color: #fff;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $text-color;
    text-align: center;
}

header {
    background-color: darken($secondary-color, 10%);
    padding: 10px 0;

    nav ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;

            a {
                color: $text-color;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: $primary-color;
    color: $text-color;
    text-decoration: none;
    border-radius: 5px;
    transition: ease-in-out 0.3s;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}

footer {
    padding: 20px;
    background-color: darken($secondary-color, 10%);
    color: white;
}